@font-face {
    font-family:'Playfair Display';
    src:url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)  format('truetype');
}
#wrap {}
#wrap .top_banner {
    background:#000; display:flex; flex-direction:row; justify-content:center; align-items:center; 
    height:40px; padding:10px; position:relative; gap:5px; z-index:1000; position:fixed; width:100%; top:0;
}
#wrap .top_banner a {color:#fff; font-size: 0.75rem; text-decoration:none; white-space:nowrap;}
#wrap .top_banner .top_btn {
    width:20px; height:20px; border:none;
    background:url(../images/close.png) no-repeat center / cover ; 
}
/* ----------------------------------------------------------------------1.팝업창 */
#wrap header {
    background:#fff; width:100%; height:93px; display:flex; flex-direction:row; justify-content:space-between; align-items:center;
    padding:0 100px; position:fixed; top:40px; left:0; z-index:999;
    /* 배경색 부드럽게 변하도록 전환 효과 */
    transition:background-color 0.3s ease;
}
/* 스크롤 시 적용될 클래스 */
#wrap header.scrollde {
    background:rgba(255,255,255,0.5); box-shadow:0 2px rgba(0,0,0,0.05);
}
#wrap .icon_logo {display:flex; flex-direction:row; align-items:center;}
#wrap header .icon_logo a p {width:40px; height:40px; background:url(../images/menu.png) no-repeat center; margin-right:20px;}
#wrap header .icon_logo h1 {width:198px; height:41px; background:url(../images/logo.png) no-repeat center;}
/* ----------------------------------------------------------------------2.헤더 -> 전체목록 + 로고 */
#wrap header .gnb {}
#wrap header .gnb ul {display:flex; justify-content:center; align-items:center;}
#wrap header .gnb ul li {margin-right:30px;}
#wrap header .gnb ul li a {}
/* ----------------------------------------------------------------------2.헤더 -> 카데고리 */
#wrap header .icon {display:flex; align-items:center;}
#wrap header .icon span {}
#wrap header .icon .box {
    width:157px; height:30px; border:1px solid #ddd; border-radius:30px; padding:5px 10px; color:#ddd;
    display:flex; justify-content:flex-start; align-items:center; margin-right:15px;
}
#wrap header .icon .box .search {
    width:20px; height:20px; display:inline-block;
    background:url(../images/icon_search.png) no-repeat center; 

}
#wrap header .icon .like,
#wrap header .icon .cart,
#wrap header .icon .user {width:20px; height:20px; display:inline-block;}
#wrap header .icon .like {background:url(../images/icon_like.png) no-repeat center; margin-right:10px;}
#wrap header .icon .cart {background:url(../images/icon_cart.png) no-repeat center; margin-right:10px;}
#wrap header .icon .user {background:url(../images/icon_user.png) no-repeat center;}
/* ----------------------------------------------------------------------2.헤더 -> 우측 아이콘 (검색, 찜, 장바구니, 로그인) */
#wrap main {width:100%; overflow:hidden; margin-top:93px;}
#wrap main .swiper.main_slider {width:100%; height:100vh;}
#wrap main .swiper.main_slider .swiper-wrapper {display:flex; justify-content:flex-start; align-items:center; width:100%; height:100%;}
#wrap main .swiper.main_slider .swiper-wrapper .swiper-slide {flex:0 0 100%; width:100%; height:100%; box-sizing:border-box;}
/* ----------------------------------------------------------------------3.슬라이드 공통부분 */
#wrap main .swiper.main_slider .swiper-wrapper .swiper-slide.slide1 {background:url(../images/bg1.jpg) no-repeat top / cover}
#wrap main .swiper.main_slider .swiper-wrapper .swiper-slide.slide2 {background:url(../images/bg2.jpg) no-repeat top / cover}
#wrap main .swiper.main_slider .swiper-wrapper .swiper-slide.slide3 {background:url(../images/bg3.jpg) no-repeat top / cover}
#wrap main .swiper.main_slider .swiper-pagination {bottom:30px;}
#wrap main .swiper.main_slider .swiper-pagination-bullet {width:10px; height:10px; background:#ddd; opacity:1; transition:all 0.3s;}
#wrap main .swiper.main_slider .swiper-pagination-bullet-active {background:#fff; width:10px; border-radius:50%; opacity:1;}
/* ----------------------------------------------------------------------------------------------------------------3-1 개별슬라이드 + 페이지 점 */
#wrap main .swiper.main_slider .swiper-button-next::after,
#wrap main .swiper.main_slider .swiper-button-prev::after {content:none !important; display:none !important;}
#wrap main .swiper.main_slider .swiper-button-prev,
#wrap main .swiper.main_slider .swiper-button-next {
    width:50px; height:50px; top:50%; transform:translateY(-50%); background:none; z-index:10;
    /*기본 배경 이미지와 색상 완전히 제거*/
    background: none !important; 
    background-image: none !important; /* 이미지 경로를 포함하는 속성도 제거 */
    color: transparent !important;
}
#wrap main .swiper.main_slider .swiper-button-prev {
    left:30px; background:url(../images/next.png) no-repeat center / cover !important;
}
#wrap main .swiper.main_slider .swiper-button-next {
    right:30px; background:url(../images/next.png) no-repeat center / cover !important;
    transform:scaleX(-1) translateY(-50%); 
}
/* ---------------------------------------------------------------------------------------------------------------------------3-2. 이전+다음 버튼, 3행 끝 */
/* ----------------------------------------------------------------------------------------------------------------------------4.new (시작)*/
#wrap main #new {padding:100px; height:100vh; margin-bottom:50px;}
#wrap main #new .title_bar {}
#wrap main #new .title_bar h2 {font-size:1.875rem; font-weight:600; margin-bottom:30px;}
#wrap main #new .title_bar .sub {}
#wrap main #new .title_bar .sub ul {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; margin-bottom:41px;}
#wrap main #new .title_bar .sub ul li {}
#wrap main #new .title_bar .sub ul li a {margin-right:15px;}
#wrap main #new .title_bar .sub ul li .check {font-size:1.25rem; font-weight:800; border-bottom:2px solid #f00; padding-bottom:5px;}
/* ------------------------------------------------------------------------------------------------------------------------------4-1 카테고리 */
#wrap main #new .product {display:flex; justify-content:space-between; gap:30px;}
/* ------------------------------------------------------------------공통 슬라이드 부분 */
#wrap main #new .product .swiper #main {}
#wrap main #new .product .swiper .swiper-wrapper {}
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide {width:512px; height:643px; margin-right:30px; position:relative;}
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item1 img,
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item2 img,
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item3 img,
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item4 img {width:100%; height:auto;}
/* 큰이미지 버튼 */
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide .wish_btn {
    width:20px; height:20px; position:absolute; top:25px; right:25px; background:url(../images/icon_like.png) no-repeat center / 100% 100%; z-index:99;
}
/* 클릭시 찜하기 버튼 활성화 */
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide .wish_btn-active {background:url(../images/icon_heart.png) no-repeat center / 100% 100%;}
/* ------------------------------------------------------------------------------------------------------------------------------------개별 슬라이드 부분 */
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item1 {}
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item2 {}
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item3 {}
#wrap main #new .product .swiper .swiper-wrapper .swiper-slide.item4 {}
/* ----------------------------------------------------------------------------------------------------------------------------------큰 이미지 슬라이드 부분 */
#wrap main .product .product_small {width:681px;}
#wrap main .product .product_small .txt {}
#wrap main .product .product_small .txt h1 {font-size:1.5rem; font-weight:600; margin:41px 0 20px;}
#wrap main .product .product_small .txt p {font-size:0.875rem; line-height:150%; letter-spacing:0.2px; margin-bottom:90px;}
#wrap main .product .product_small .txt .pick {font-size:0.875rem; margin-bottom:10px;}
#wrap main .product .product_small .swiper-slide {}
#wrap main #new .product .product_small #small_list .swiper-wrapper.sub_small {width:681px; padding-top:5px;}
#wrap main .product .product_small .swiper-slide .small_pick {width:100%; position:relative;}
#wrap main .product .product_small .swiper-slide .small_pick img {width:100%;}
/* 작은 이미지 버튼 */
#wrap main .product .product_small .swiper-slide .small_pick .wish_btn {
    width:16px !important; height:16px !important; position:absolute; top:15px !important; right:15px !important; left:auto !important; z-index:30 !important;
    background:url(../images/icon_like.png) no-repeat center / 100% 100%;
}
#wrap main .product .product_small .swiper-slide .small_pick .wish_btn-active {background:url(../images/icon_heart.png) no-repeat center / 100% 100%;}
#wrap main .product .product_small .swiper-slide .info {}
#wrap main .product .product_small .swiper-slide .info .name {margin:10px 0 8px;}
#wrap main .product .product_small .swiper-slide .info .price_group {display:flex; flex-direction:row; align-items:center;}
#wrap main .product .product_small .swiper-slide .info .name,
#wrap main .product .product_small .swiper-slide .info .price_group .discount,
#wrap main .product .product_small .swiper-slide .info .price_group .price {font-size:0.875rem; margin-right:5px;}
#wrap main .product .product_small .swiper-slide .info .price_group .discount {color:#EB5E3E;}
#wrap main .product .product_small .swiper-slide .info .price_group .price {}
#wrap main .product .product_small .swiper-slide .info .price_group .original {font-size:0.75rem;}
#wrap main .product .product_small .swiper-slide .info .price_group .original del {color:#aaa;}
#wrap main .product .product_small .swiper .small-prev::after,
#wrap main .product .product_small .swiper .small-next::after {content:none !important; display:none !important;}
#wrap main .product .product_small .swiper .small-prev,
#wrap main .product .product_small .swiper .small-next {
    width:20px; height:20px; position:absolute; top:175px;
    background: none !important; 
    background-image: none !important; /* 이미지 경로를 포함하는 속성도 제거 */
    color: transparent !important;
}
#wrap main .product .product_small .swiper .small-prev {
    left:10px; background:url(../images/icon_small_next.png) no-repeat center / cover !important; 
    transform:translateY(-50%);
}
#wrap main .product .product_small .swiper .small-next {
    right:10px; background:url(../images/icon_small_next.png) no-repeat center / cover !important; 
    transform:scaleX(-1) translateY(-50%);
}
/* --------------------------------------------------------------------------------------------------------------------------5.3행 광고 */
#wrap main .ad {display:flex; flex-direction:row; justify-content:center; align-items:center; width:100%; height:855px;}
#wrap main .ad .left_pick {width:50%; height:100%;}
#wrap main .ad .left_pick .txt_ad {background:url(../images/ad001.jpg) no-repeat center / cover; width:100%; height:100%; text-align:center; padding-top:300px;}
#wrap main .ad .left_pick .txt_ad h1,
#wrap main .ad .left_pick .txt_ad p,
#wrap main .ad .left_pick .txt_ad a  button {color:#fff;}
#wrap main .ad .left_pick .txt_ad h1 {font-size:2.5rem; font-weight:800; margin-bottom:30px;}
#wrap main .ad .left_pick .txt_ad p {font-size:1.25rem; letter-spacing:-2px; margin-bottom:68px;}
#wrap main .ad .left_pick .txt_ad a {}
#wrap main .ad .left_pick .txt_ad a button {font-size:1.125rem; border:1px solid #fff; border-radius:5px; padding:10px;}
#wrap main .ad .left_pick .txt_ad a button:hover {background:rgba(255,255,255,0.5);}
#wrap main .ad .right_pick {width:50%; height:100%;}
#wrap main .ad .right_pick .txt_ad {
    background:linear-gradient(to bottom, rgba(0,0,0,0.6), transparent 50%), linear-gradient(to top, rgba(0,0,0,0.8), transparent 50%),
    linear-gradient(to right, rgba(0,0,0,0.6), transparent 50%), linear-gradient(to left, rgba(0,0,0,0.6), transparent 50%),
    url(../images/ad002.png) no-repeat center / cover;
    width:100%; height:100%; text-align:center; padding-top:303px;
    transition: opacity 0.5s ease;
}
#wrap main .ad .right_pick .txt_ad:hover {opacity:0.5;}
#wrap main .ad .right_pick .txt_ad a {font-size:6.25rem; line-height:130%; font-weight:600; font-family:'Playfair Display'; color:#F5F2E8;}
/* --------------------------------------------------------------------------------------------------------------------------5.4행 베스트 품목 */
#wrap main .best {padding:100px; text-align:center;}
#wrap main .best .txt_nav {}
#wrap main .best .txt_nav h1 {font-size:1.875rem; font-weight:600; margin-bottom:30px; text-align:start;}
#wrap main .best .txt_nav .best_nav {}
#wrap main .best .txt_nav .best_nav ul {display:flex; flex-direction:row; align-items:center ; margin-bottom:30px;}
#wrap main .best .txt_nav .best_nav ul li {margin-right:20px;}
#wrap main .best .txt_nav .best_nav ul li a {}
#wrap main .best .txt_nav .best_nav ul li .woman {font-size:1.125rem; font-weight:800; padding-bottom:5px; border-bottom:1px solid #EB5E3E;}
#wrap main .best .best_list {}
#wrap main .best .best_list .list_top,
#wrap main .best .best_list .list_bottom {width:1720px; height:614px; display:flex; flex-direction:row; justify-content:center; align-items:center; margin-bottom:50px;}
#wrap main .best .best_list .list_top .top1,
#wrap main .best .best_list .list_bottom .bottom1 {position:relative; margin-right:10px;}
#wrap main .best .best_list .list_top .top1 .img_btn,
#wrap main .best .best_list .list_bottom .bottom1 .img_btn {height:546px; margin-bottom:10px;}
#wrap main .best .best_list .list_top .top1 img,
#wrap main .best .best_list .list_bottom .bottom1 img {width:100%; height:100%;}
#wrap main .best .best_list .list_top .top1 .wish_btn,
#wrap main .best .best_list .list_bottom .bottom1 .wish_btn {width:16px; height:16px; position:absolute; top:20px; right:20px; background:url(../images/icon_like.png) no-repeat center / cover; z-index:99;}
#wrap main .best .best_list .list_top .top1 .wish_btn-active,
#wrap main .best .best_list .list_bottom .bottom1 .wish_btn-active {background:url(../images/icon_heart.png) no-repeat center / cover;}
#wrap main .best .best_list .list_top .list_info {}
#wrap main .best .best_list .list_top .list_info .top,
#wrap main .best .best_list .list_bottom .list_info .bottom {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:10px;}
#wrap main .best .best_list .list_top .list_info .top p,
#wrap main .best .best_list .list_bottom .list_info .bottom p {font-size:1.125rem;}
#wrap main .best .best_list .list_top .list_info .top button,
#wrap main .best .best_list .list_bottom .list_info .bottom button {width:20px; height:20px;}
#wrap main .best .best_list .list_top .list_info .top button img,
#wrap main .best .best_list .list_bottom .list_info .bottom button img {width:100%; height:100%;}
#wrap main .best .best_list .list_top .list_info .price,
#wrap main .best .best_list .list_bottom .list_info .price {display:flex; flex-direction:row; align-items:center;}
#wrap main .best .best_list .list_top .list_info .price .dis,
#wrap main .best .best_list .list_bottom .list_info .price .dis {color:#f00;}
#wrap main .best .best_list .list_top .list_info .price p,
#wrap main .best .best_list .list_bottom .list_info .price p {font-size:0.875rem; margin-right:5px;}
#wrap main .best .best_list .list_top .list_info .price p del,
#wrap main .best .best_list .list_bottom .list_info .price p del {font-size:0.75rem; color:#aaa;}
#wrap main .best .btn {border:1px solid #000; border-radius:5px; width:105px; height:45px; font-size:1.125rem; padding:10px;}
#wrap main .best .btn:hover {background:rgba(200,200,200,0.5);}
/* --------------------------------------------------------------------------------------------------------------------------5.5행 카테고리(스포츠) */
#wrap main .category {width:100%; height:982px;}
#wrap main .category .set {background:#000; width:100%; height:100%; padding:100px;}
#wrap main .category .set .txt {padding:50px 44px 20px; display:flex; flex-direction:row; justify-content:space-between; align-items:center; }
#wrap main .category .set .txt h1 {font-size:1.75rem; font-weight:600; color:#fff;}
#wrap main .category .set .txt .btn_tag {font-size:1.5rem;}
#wrap main .category .set .txt .btn_tag .wom,
#wrap main .category .set .txt .btn_tag .man {color:#fff;}
#wrap main .category .set .txt .btn_tag .wom {margin-right:10px;}
#wrap main .category .set .txt .btn_tag .wom-active {border-bottom:1px solid #f00; padding-bottom:5px;}
#wrap main .category .set .txt .btn_tag .man-active {border-bottom:1px solid #f00; padding-bottom:5px;}
/* --------------------------------------------------------------------------------5-1 여성&남성 공통 */
#wrap main .category .set .sport_w,
#wrap main .category .set .sport_m {width:1720px; height:693px; display:flex; flex-direction:row; justify-content:center; align-items:center;}
#wrap main .category .set .sport_w a,
#wrap main .category .set .sport_m a {display:block; width:400px; height:693px; border-radius:20px; margin-right:20px;}
#wrap main .category .set .sport_w .run {background:url(../images/sport001.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_w .golf {background:url(../images/sport002.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_w .inner {background:url(../images/sport003.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_w .swim {background:url(../images/sport004.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_w .run p, 
#wrap main .category .set .sport_w .golf p,
#wrap main .category .set .sport_m .run p,
#wrap main .category .set .sport_m .golf p {position:absolute; font-size:2.375rem; font-weight:800; color:#fff; left:165px; bottom:102px;}
#wrap main .category .set .sport_w .inner p,
#wrap main .category .set .sport_w .swim p,
#wrap main .category .set .sport_m .inner p,
#wrap main .category .set .sport_m .swim p {position:absolute; font-size:2.375rem; font-weight:800; color:#fff; left:134px; bottom:102px;}
/* ---------------------------------------------------------------------------------5-2 남성 */
#wrap main .category .set .sport_m {display:none;}
#wrap main .category .set .sport_m a {}
#wrap main .category .set .sport_m .run {background:url(../images/mans001.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_m .golf {background:url(../images/mans002.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_m .inner {background:url(../images/mans003.jpg) no-repeat center / cover; position:relative;}
#wrap main .category .set .sport_m .swim {background:url(../images/mans004.jpg) no-repeat center / cover; position:relative;}
/* --------------------------------------------------------------------------------------------------------------------------6.6행 인스타그램 */
#wrap main .style {padding:195px 100px;}
#wrap main .style .style_list {position:relative;}
#wrap main .style .style_list .txt {display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-end; margin-bottom:15px;}
#wrap main .style .style_list .txt h1 {font-size:1.875rem; font-weight:600; margin-right:15px;}
#wrap main .style .style_list .txt p {}
#wrap main .style .swiper {overflow:visible;}
#wrap main .style .swiper #ig {}
#wrap main .style .swiper .swiper-wrapper {}
#wrap main .style .swiper .swiper-wrapper.ig_list {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick {width:381px; height:743px; border-radius:20px; overflow:hidden; border:1px solid #b3b3b3;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick img {position:relative;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick p {
    width:99px; height:34px; border-radius:10px 10px 0 0; background:#F5F5F5; position:absolute; text-align:center;
    padding:10px; font-size:0.875rem; top:482px; right:30px; opacity:90%;
}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick p strong {color:#f00;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick button {width:16px; height:16px; background:url(../images/icon_puls.png) no-repeat center / cover;}
/* -------------------------- 버튼 올렸을때 나오는 정보--------------------------------------- */
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down {position:absolute; top:224px; left:182px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub {
    width:179px; height:65px; background:#f3f3f3; opacity:0.8; padding:5px;
    position:relative; display:flex; align-items:center; opacity:0; visibility:hidden; transition:opacity 0.3s, visibility 0.3s;
}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub {top:-80px; left:0;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub {top:-80px; left:-150px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up:hover .up_sub,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down:hover .down_sub {opacity:1; visibility:visible;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub img,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub img {width:55px; height:55px; object-fit:cover; margin-right:5px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub .num,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub .num {font-size:0.625rem; top:25px; right:20px; padding:0; line-height:130%; text-align:start;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down {position:absolute; top:366px; left:226px;}
/* -------------------------- 버튼 올렸을때 나오는 정보--------------------------------------- */
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants {padding:0 10px; margin-bottom:5px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a {display:flex; flex-direction:row; align-items:center; width:100%; margin-top:10px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a img,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a img {width:116px; height:97px; object-fit:cover; margin-right:10px; border-radius:20px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .name,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .name {font-size:0.938rem; margin-bottom:10px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .price_group,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group {display:flex; flex-direction:row; align-items:flex-end;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .price_group p {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .price_group .discount,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group .discount {font-size:0.875rem; color:#EB5E3E; margin-right:5px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .price_group .price,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group .price {font-size:0.875rem; margin-right:5px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .top a .top_txt .price_group del,
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group del {font-size:0.75rem; color:#aaa;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a img {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .name {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group p {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group .discount {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group .price {}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .info .pants a .pants_txt .price_group del {}
/* -----------------이시안 버튼 조정 -----------------------------------------------------------------*/
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up.box1 {top:150px; left:199px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down.box1 {top:393px; left:161px;}
/* 이시안 -> 버튼에 올렸을때 나오는 정보들 위치 조정 */
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub.sub1 {top:30px; left:-50px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub.sub1 {left:-100px;}
/* -----------------우기 버튼 조정 -----------------------------------------------------------------*/
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up.box2 {top:169px; left:309px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down.box2 {top:427px; left:76px;}
/* 우기 -> 버튼에 올렸을때 나오는 정보들 위치 조정 */
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub.sub2 {top:30px; left:-150px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub.sub2 {left:0;}
/* -----------------김종국 버튼 조정 -----------------------------------------------------------------*/
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up.box4 {top:142px; left:238px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down.box4 {top:339px; left:95px;}
/* 김종국 -> 버튼에 올렸을때 나오는 정보들 위치 조정 */
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .up .up_sub.sub4 {top:25px; left:-80px;}
#wrap main .style .swiper .swiper-wrapper .swiper-slide.ig_pick .pick .down .down_sub.sub4 {top:-20px; left:25px;}
#wrap main .style .swiper .swiper-pagination {background:#ddd; width:371px; height:2px; bottom:-65px; left:0; right:0; top: auto !important; margin:0 auto; z-index:10;}
#wrap main .style .swiper .swiper-pagination .swiper-pagination-progressbar-fill {background:#000; height:100%;}
/* --------------------------------------------------------------------------------------------------------------------------7.광고배너*/
#wrap main .ad_bnr {background:url(../images/ad_bnr01.jpg) no-repeat center / cover; height:234px;}
#wrap main .ad_bnr h1 {font-size:1.875rem; font-family:'Playfair Display'; font-weight:600; text-align:center; margin-bottom:20px; padding-top:83px;}
#wrap main .ad_bnr .txt_sub {display:flex; flex-direction:row; justify-content:center; align-items:center;}
#wrap main .ad_bnr .txt_sub p {font-size:1.125rem;}
#wrap main .ad_bnr .txt_sub .txt {margin-right:10px;}
/* --------------------------------------------------------------------------------------------------------------------------8.품목*/
#wrap main .kind {width:100%; height:1010px; padding:0 100px; margin:0 auto;}
#wrap main .kind .kind_list {width:100%; height:666px; margin-top:172px; display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative;}
#wrap main .kind .kind_list .shoes,
#wrap main .kind .kind_list .bag {border-radius:5px; width:50%; height:100%;}
/* -----------------------------------------------슈즈 블러 처리부분 */
#wrap main .kind .kind_list .shoes {background:url(../images/kind01.jpg) no-repeat center / 100% 100%; margin-right:10px; position:relative; overflow:hidden;}
#wrap main .kind .kind_list .shoes::before {
    content:''; position:absolute; inset:0; z-index: 1;
    background: url(../images/kind01.jpg) no-repeat center / cover;
}
#wrap main .kind .kind_list .shoes:hover::before {filter:blur(2px);}
/* -----------------------------------------------글자 그림자 처리부분 */
#wrap main .kind .kind_list .shoes .title,
#wrap main .kind .kind_list .bag .title {
    display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative; z-index:2;
    opacity:0.9; text-shadow:0 5px 5px rgba(0,0,0,0.5);  transition:opacity 0.3s ease; 
}
#wrap main .kind .kind_list .shoes .title:hover,
#wrap main .kind .kind_list .bag .title:hover {opacity:1; text-shadow:0 7px 12px rgba(0,0,0,0.6);}
#wrap main .kind .kind_list .shoes .title h1,
#wrap main .kind .kind_list .bag .title h1 {font-size:11.25rem; font-weight:800; color:#f5f5f5; margin-top:200px;}
#wrap main .kind .kind_list .shoes .title .one,
#wrap main .kind .kind_list .bag .title .one {margin-right:135px;}
#wrap main .kind .kind_list .bag {background:url(../images/kind02.jpg) no-repeat center / 100% 100%; position:relative; overflow:hidden;}
#wrap main .kind .kind_list .bag::before {
    content:''; position:absolute; inset:0; z-index: 1;
    background: url(../images/kind02.jpg) no-repeat center / cover;
}
#wrap main .kind .kind_list .bag:hover::before {filter:blur(2px);}
#wrap main .kind .kind_list .txt {
    bottom:128px; width:991px; height:67px; position:absolute; z-index:5; 
    background-image:linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, 
    rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,0) 100%);
}
#wrap main .kind .kind_list .txt p {
    position:absolute; bottom:20px; left:50%; transform: translateX(-50%); white-space: nowrap;
    font-size:1.875rem; font-weight:800; letter-spacing:18px; color:#E0E0E0; z-index:10;
}